---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="w-svw h-svh flex flex-col items-center justify-center gap-10 text-center">
		<h1 class="text-5xl font-bold"><span class="text-blue-800">console</span>.<span class="text-purple-700">log</span><span class="text-cyan-500">(</span><span class="text-green-500">"Hello, world!"</span><span class="text-cyan-500">)</span>;</h1>
		<h2 class="text-2xl">code.<a href="https://altie122.xyz" class=" italic decoration-dashed text-red-500">altie122.xyz</a> coming soon!</h2>
	</main>
</Layout>
