---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="w-svw h-svh flex flex-col items-center justify-center gap-10 text-center">
		<h1 class="text-5xl font-bold">console.log(<span class="text-green-500">"Hello, world!"</span>)</h1>
		<h2 class="text-2xl">code.altie122.xyz coming soon!</h2>
	</main>
</Layout>
