---
import { TutorialButton } from "@/components/home/tutorial-button";
import Layout from "../layouts/BaseLayout.astro";
import { ExampleCodeEditor } from "@/components/home/example-code-editor";
---

<Layout>
  <main>
    <!-- Hero section -->
    <header class='border-grid border-b'>
      <div class='container-wrapper'>
        <div
          class='containerless-prose container grid grid-cols-1 xl:grid-cols-2'
        >
          <div
            class='border-grid xl:border-r h-full py-8 md:py-10 lg:py-12 pr-4 xl:pr-8'
          >
            <h1 class='text-center'>
              Welcome to <span class='hl'>code.altie122.xyz</span>
            </h1>
            <p>
              Welcome to <span class='hl'>code.altie122.xyz</span>! We are a
              small code tutorial website that aims to provide a simple and
              easy-to-understand resource for learning to code. Some of our
              tutorials are even interactive on the website itself! We aim to
              make learning to code as simple and unintimidating as possible!
            </p>
          </div>
          <div
            class='h-full py-8 md:py-10 lg:py-12 flex flex-col gap-2 justify-center items-center pl-4 xl:pr-8'
          >
            <h2 class='prose-h1-override noborder'>Want to get started?</h2>
            <p>Check out these tutorials!</p>
            <TutorialButton />
          </div>
        </div>
      </div>
    </header>
    <ExampleCodeEditor client:only='react' />
    <section>
      <div class='border-grid border-b'>
        <div class='container-wrapper'>
          <div
            class='containerless-prose p-2 container flex flex-col gap-1 py-8 md:py-10 lg:py-12'
          >
            <h2 class='noborder'>Why does Code.altie122.xyz exist?</h2>
            <p>
              Code.altie122.xyz was created because there are <b>very</b> few good
              resources for learning to code from start to finish without being too
              intimidating.
            </p>
          </div>
        </div>
      </div>
      <div class='border-grid border-b'>
        <div class='container-wrapper'>
          <div
            class='containerless-prose p-2 container flex flex-col gap-1 py-8 md:py-10 lg:py-12'
          >
            <h2 class='noborder'>Why not use something else?</h2>
            <p>
              Feel free to explore other options! All we want is for you to
              learn to code, if you have found a better resource, go for it!
            </p>
          </div>
        </div>
      </div>
      <div class='border-grid border-b'>
        <div class='container-wrapper'>
          <div
            class='containerless-prose p-2 container flex flex-col gap-2 py-8 md:py-10 lg:py-12 justify-center items-center'
          >
            <h2 class='noborder prose-h1-override'>Ready to start learning?</h2>
						<p>Check out these tutorials!</p>
            <div class='w-fit'>
              <TutorialButton />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
